<a href="https://colab.research.google.com/github/BARURISAIAVINASH/AVINASH_datascience/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a function that inputs a number and prints the multiplication table of that number

In [ ]:
k=int(input("enter a number"))
for i in range(1,11):
  mul=k*i
  print('{}*{}={}'.format(k,i,mul))

enter a number10
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

2.Write a program to print twin primes less than 1000. If two consecutive odd numbers are
both prime then they are known as twin primes

In [ ]:
import sys
sys.setrecursionlimit(1500)

def prime(n):
  if n<=1:
    return False
  else:
    for i in range(2,n):
      if n%i==0:
        return False
      else:
        return True
def twin_prime(a,c):
  b=a+2
  
  if (prime(b) and prime(a)):
    print('{},{} are twin primes'.format(a,b))
  
  a=a+1
  if b==c:
    return 0
  else:
    twin_prime(a,c)
twin_prime(2,1000)

3,5 are twin primes
5,7 are twin primes
7,9 are twin primes
9,11 are twin primes
11,13 are twin primes
13,15 are twin primes
15,17 are twin primes
17,19 are twin primes
19,21 are twin primes
21,23 are twin primes
23,25 are twin primes
25,27 are twin primes
27,29 are twin primes
29,31 are twin primes
31,33 are twin primes
33,35 are twin primes
35,37 are twin primes
37,39 are twin primes
39,41 are twin primes
41,43 are twin primes
43,45 are twin primes
45,47 are twin primes
47,49 are twin primes
49,51 are twin primes
51,53 are twin primes
53,55 are twin primes
55,57 are twin primes
57,59 are twin primes
59,61 are twin primes
61,63 are twin primes
63,65 are twin primes
65,67 are twin primes
67,69 are twin primes
69,71 are twin primes
71,73 are twin primes
73,75 are twin primes
75,77 are twin primes
77,79 are twin primes
79,81 are twin primes
81,83 are twin primes
83,85 are twin primes
85,87 are twin primes
87,89 are twin primes
89,91 are twin primes
91,93 are twin primes
93,95 are twin primes
95,97 are twin primes
97,99 are twin primes
99,101 are twin primes
101,103 are twin primes
103,105 are twin primes
105,107 are twin primes
107,109 are twin primes
109,111 are twin primes
111,113 are twin primes
113,115 are twin primes
115,117 are twin primes
117,119 are twin primes
119,121 are twin primes
121,123 are twin primes
123,125 are twin primes
125,127 are twin primes
127,129 are twin primes
129,131 are twin primes
131,133 are twin primes
133,135 are twin primes
135,137 are twin primes
137,139 are twin primes
139,141 are twin primes
141,143 are twin primes
143,145 are twin primes
145,147 are twin primes
147,149 are twin primes
149,151 are twin primes
151,153 are twin primes
153,155 are twin primes
155,157 are twin primes
157,159 are twin primes
159,161 are twin primes
161,163 are twin primes
163,165 are twin primes
165,167 are twin primes
167,169 are twin primes
169,171 are twin primes
171,173 are twin primes
173,175 are twin primes
175,177 are twin primes
177,179 are twin primes
179,181 are twin primes
181,183 are twin primes
183,185 are twin primes
185,187 are twin primes
187,189 are twin primes
189,191 are twin primes
191,193 are twin primes
193,195 are twin primes
195,197 are twin primes
197,199 are twin primes
199,201 are twin primes
201,203 are twin primes
203,205 are twin primes
205,207 are twin primes
207,209 are twin primes
209,211 are twin primes
211,213 are twin primes
213,215 are twin primes
215,217 are twin primes
217,219 are twin primes
219,221 are twin primes
221,223 are twin primes
223,225 are twin primes
225,227 are twin primes
227,229 are twin primes
229,231 are twin primes
231,233 are twin primes
233,235 are twin primes
235,237 are twin primes
237,239 are twin primes
239,241 are twin primes
241,243 are twin primes
243,245 are twin primes
245,247 are twin primes
247,249 are twin primes
249,251 are twin primes
251,253 are twin primes
253,255 are twin primes
255,257 are twin primes
257,259 are twin primes
259,261 are twin primes
261,263 are twin primes
263,265 are twin primes
265,267 are twin primes
267,269 are twin primes
269,271 are twin primes
271,273 are twin primes
273,275 are twin primes
275,277 are twin primes
277,279 are twin primes
279,281 are twin primes
281,283 are twin primes
283,285 are twin primes
285,287 are twin primes
287,289 are twin primes
289,291 are twin primes
291,293 are twin primes
293,295 are twin primes
295,297 are twin primes
297,299 are twin primes
299,301 are twin primes
301,303 are twin primes
303,305 are twin primes
305,307 are twin primes
307,309 are twin primes
309,311 are twin primes
311,313 are twin primes
313,315 are twin primes
315,317 are twin primes
317,319 are twin primes
319,321 are twin primes
321,323 are twin primes
323,325 are twin primes
325,327 are twin primes
327,329 are twin primes
329,331 are twin primes
331,333 are twin primes
333,335 are twin primes
335,337 are twin primes
337,339 are twin primes
339,341 are twin primes
341,343 are twin primes
343,345 are twin primes
345,347 are twin primes
347,349 are twin primes
349,351 are twin primes
351,353 are twin primes
353,355 are twin primes
355,357 are twin primes
357,359 are twin primes
359,361 are twin primes
361,363 are twin primes
363,365 are twin primes
365,367 are twin primes
367,369 are twin primes
369,371 are twin primes
371,373 are twin primes
373,375 are twin primes
375,377 are twin primes
377,379 are twin primes
379,381 are twin primes
381,383 are twin primes
383,385 are twin primes
385,387 are twin primes
387,389 are twin primes
389,391 are twin primes
391,393 are twin primes
393,395 are twin primes
395,397 are twin primes
397,399 are twin primes
399,401 are twin primes
401,403 are twin primes
403,405 are twin primes
405,407 are twin primes
407,409 are twin primes
409,411 are twin primes
411,413 are twin primes
413,415 are twin primes
415,417 are twin primes
417,419 are twin primes
419,421 are twin primes
421,423 are twin primes
423,425 are twin primes
425,427 are twin primes
427,429 are twin primes
429,431 are twin primes
431,433 are twin primes
433,435 are twin primes
435,437 are twin primes
437,439 are twin primes
439,441 are twin primes
441,443 are twin primes
443,445 are twin primes
445,447 are twin primes
447,449 are twin primes
449,451 are twin primes
451,453 are twin primes
453,455 are twin primes
455,457 are twin primes
457,459 are twin primes
459,461 are twin primes
461,463 are twin primes
463,465 are twin primes
465,467 are twin primes
467,469 are twin primes
469,471 are twin primes
471,473 are twin primes
473,475 are twin primes
475,477 are twin primes
477,479 are twin primes
479,481 are twin primes
481,483 are twin primes
483,485 are twin primes
485,487 are twin primes
487,489 are twin primes
489,491 are twin primes
491,493 are twin primes
493,495 are twin primes
495,497 are twin primes
497,499 are twin primes
499,501 are twin primes
501,503 are twin primes
503,505 are twin primes
505,507 are twin primes
507,509 are twin primes
509,511 are twin primes
511,513 are twin primes
513,515 are twin primes
515,517 are twin primes
517,519 are twin primes
519,521 are twin primes
521,523 are twin primes
523,525 are twin primes
525,527 are twin primes
527,529 are twin primes
529,531 are twin primes
531,533 are twin primes
533,535 are twin primes
535,537 are twin primes
537,539 are twin primes
539,541 are twin primes
541,543 are twin primes
543,545 are twin primes
545,547 are twin primes
547,549 are twin primes
549,551 are twin primes
551,553 are twin primes
553,555 are twin primes
555,557 are twin primes
557,559 are twin primes
559,561 are twin primes
561,563 are twin primes
563,565 are twin primes
565,567 are twin primes
567,569 are twin primes
569,571 are twin primes
571,573 are twin primes
573,575 are twin primes
575,577 are twin primes
577,579 are twin primes
579,581 are twin primes
581,583 are twin primes
583,585 are twin primes
585,587 are twin primes
587,589 are twin primes
589,591 are twin primes
591,593 are twin primes
593,595 are twin primes
595,597 are twin primes
597,599 are twin primes
599,601 are twin primes
601,603 are twin primes
603,605 are twin primes
605,607 are twin primes
607,609 are twin primes
609,611 are twin primes
611,613 are twin primes
613,615 are twin primes
615,617 are twin primes
617,619 are twin primes
619,621 are twin primes
621,623 are twin primes
623,625 are twin primes
625,627 are twin primes
627,629 are twin primes
629,631 are twin primes
631,633 are twin primes
633,635 are twin primes
635,637 are twin primes
637,639 are twin primes
639,641 are twin primes
641,643 are twin primes
643,645 are twin primes
645,647 are twin primes
647,649 are twin primes
649,651 are twin primes
651,653 are twin primes
653,655 are twin primes
655,657 are twin primes
657,659 are twin primes
659,661 are twin primes
661,663 are twin primes
663,665 are twin primes
665,667 are twin primes
667,669 are twin primes
669,671 are twin primes
671,673 are twin primes
673,675 are twin primes
675,677 are twin primes
677,679 are twin primes
679,681 are twin primes
681,683 are twin primes
683,685 are twin primes
685,687 are twin primes
687,689 are twin primes
689,691 are twin primes
691,693 are twin primes
693,695 are twin primes
695,697 are twin primes
697,699 are twin primes
699,701 are twin primes
701,703 are twin primes
703,705 are twin primes
705,707 are twin primes
707,709 are twin primes
709,711 are twin primes
711,713 are twin primes
713,715 are twin primes
715,717 are twin primes
717,719 are twin primes
719,721 are twin primes
721,723 are twin primes
723,725 are twin primes
725,727 are twin primes
727,729 are twin primes
729,731 are twin primes
731,733 are twin primes
733,735 are twin primes
735,737 are twin primes
737,739 are twin primes
739,741 are twin primes
741,743 are twin primes
743,745 are twin primes
745,747 are twin primes
747,749 are twin primes
749,751 are twin primes
751,753 are twin primes
753,755 are twin primes
755,757 are twin primes
757,759 are twin primes
759,761 are twin primes
761,763 are twin primes
763,765 are twin primes
765,767 are twin primes
767,769 are twin primes
769,771 are twin primes
771,773 are twin primes
773,775 are twin primes
775,777 are twin primes
777,779 are twin primes
779,781 are twin primes
781,783 are twin primes
783,785 are twin primes
785,787 are twin primes
787,789 are twin primes
789,791 are twin primes
791,793 are twin primes
793,795 are twin primes
795,797 are twin primes
797,799 are twin primes
799,801 are twin primes
801,803 are twin primes
803,805 are twin primes
805,807 are twin primes
807,809 are twin primes
809,811 are twin primes
811,813 are twin primes
813,815 are twin primes
815,817 are twin primes
817,819 are twin primes
819,821 are twin primes
821,823 are twin primes
823,825 are twin primes
825,827 are twin primes
827,829 are twin primes
829,831 are twin primes
831,833 are twin primes
833,835 are twin primes
835,837 are twin primes
837,839 are twin primes
839,841 are twin primes
841,843 are twin primes
843,845 are twin primes
845,847 are twin primes
847,849 are twin primes
849,851 are twin primes
851,853 are twin primes
853,855 are twin primes
855,857 are twin primes
857,859 are twin primes
859,861 are twin primes
861,863 are twin primes
863,865 are twin primes
865,867 are twin primes
867,869 are twin primes
869,871 are twin primes
871,873 are twin primes
873,875 are twin primes
875,877 are twin primes
877,879 are twin primes
879,881 are twin primes
881,883 are twin primes
883,885 are twin primes
885,887 are twin primes
887,889 are twin primes
889,891 are twin primes
891,893 are twin primes
893,895 are twin primes
895,897 are twin primes
897,899 are twin primes
899,901 are twin primes
901,903 are twin primes
903,905 are twin primes
905,907 are twin primes
907,909 are twin primes
909,911 are twin primes
911,913 are twin primes
913,915 are twin primes
915,917 are twin primes
917,919 are twin primes
919,921 are twin primes
921,923 are twin primes
923,925 are twin primes
925,927 are twin primes
927,929 are twin primes
929,931 are twin primes
931,933 are twin primes
933,935 are twin primes
935,937 are twin primes
937,939 are twin primes
939,941 are twin primes
941,943 are twin primes
943,945 are twin primes
945,947 are twin primes
947,949 are twin primes
949,951 are twin primes
951,953 are twin primes
953,955 are twin primes
955,957 are twin primes
957,959 are twin primes
959,961 are twin primes
961,963 are twin primes
963,965 are twin primes
965,967 are twin primes
967,969 are twin primes
969,971 are twin primes
971,973 are twin primes
973,975 are twin primes
975,977 are twin primes
977,979 are twin primes
979,981 are twin primes
981,983 are twin primes
983,985 are twin primes
985,987 are twin primes
987,989 are twin primes
989,991 are twin primes
991,993 are twin primes
993,995 are twin primes
995,997 are twin primes
997,999 are twin primes

3. Write a program to find out the prime factors of a number. Example: prime factors of 56 -
2, 2, 2, 7

In [ ]:
def avi(num):
  if num>0:
    for i in range(2,num+1):
      while (num%i==0):
        num=num/2
        print(i)
      i+=1
avi(56)

2
2
2
7

Write a program to implement these formulae of permutations and combinations.
Number of permutations of n objects taken r at a time: p(n, r) = n! / (n-r)!. Number of
combinations of n objects taken r at a time is: c(n, r) = n! / (r!*(n-r)!) = p(n,r) / r!

In [ ]:
def permu(n,r):
  i=1
  p=1
  q=1
  s=1
  for i in range(1,n+1):
    p=p*i
  print(p)
  for i in range(1,r+1):
    q=q*i
  print(q)
  for i in range(1,(n-r)+1):
    s=s*i
  print(s)

  print('Number of permutations of {} objects taken {} at a time: {}'.format(n,r,(p/s)))
  print('Number of combinations is ', (p/(q*s)))
 


 

permu(5,2)

120
2
6
Number of permutations of 5 objects taken 2 at a time: 20.0
Number of combinations is  10.0

5.Write a function that converts a decimal number to binary number

In [ ]:
def dec(n):
    
    
    if n>1:
        dec(n//2)
    print(n%2,end=' ')
    

a=int(input('enter number'))
dec(a)

enter number10
1 0 1 0

6.Write a function cubesum() that accepts an integer and returns the sum of the cubes of
individual digits of that number. Use this function to make functions PrintArmstrong() and
isArmstrong() to print Armstrong numbers and to find whether is an Armstrong number.

In [ ]:
#https://www.programiz.com/python-programming/examples/armstrong-number
def cubesum(n):
  s=0
  t=n
  while t> 0:
    k = t % 10
    s=s+(k*k*k)
    t=t//10
  def isArmstrong() :
    if n==s:
      return True
    else:
      return False
  def  PrintArmstrong() :
    if isArmstrong():
      print('ARMSTRONG')
    else:
      print('NOT ARMSTRONG')


 
  isArmstrong()
  PrintArmstrong()



n = int(input("enter number  "))

cubesum(n)

enter number  123
NOT ARMSTRONG

7.Write a function prodDigits() that inputs a number and returns the product of digits of that
number.

In [ ]:

def  prodDigits(n) :
  s=1
  t=n
  while t> 0:
    k = t % 10
    s=s*k
    t=t//10
  return s
n=int(input('enter number = '))
prodDigits(n)

enter number = 86

48

8.If all digits of a number n are multiplied by each other repeating with the product, the one
digit number obtained at last is called the multiplicative digital root of n. The number of
times digits need to be multiplied to reach one digit is called the multiplicative
persistance of n.

In [ ]:

def  prodDigits(n) :
  
  
  def MDR(n):
    global v
    v=0
    t=n
    
    
    while t>=10:

      m=1
      for i in str(t):
        

        
        m=m*int(i)

    
        
      t=m
      v+=1
      
    return t
      
      
  print(' multiplicative digital root is = ',MDR(n))
  


  def MPersistence() :
    print("multiplicative persistence is  = ",v)
  

  MPersistence()


n=int(input('enter number = '))
prodDigits(n)

enter number = 86
 multiplicative digital root is =  6
multiplicative persistence is  =  3

9. Write a function sumPdivisors() that finds the sum of proper divisors of a number. Proper
divisors of a number are those numbers by which the number is divisible, except the
number itself. For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

In [ ]:

def  sumPdivisors(n) :
  s=0
  for i in range(1,n):
    if (n%i)==0:
      s=s+i
  return s

n=int(input('enter number = '))
sumPdivisors(n)

enter number = 36

55

10. A number is called perfect if the sum of proper divisors of that number is equal to the
number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to
print all the perfect numbers in a given range

In [ ]:
def perfect(l,u):
  for n in range(l,u+1):
    s=0
    for i in range(1,n):
      if n%i==0:
        s=s+i
    if s==n:
      print('perfect number is =',s)


l=int(input('enter lower limit'))
u=int(input('upper limit'))
perfect(l,u)

enter lower limit1
upper limit1000
perfect number is = 6
perfect number is = 28
perfect number is = 496

11. Two different numbers are called amicable numbers if the sum of the proper divisors of
each is equal to the other number. For example 220 and 284 are amicable numbers.
Sum of proper divisors of 220 = 1+2+4+5+10+11+20+22+44+55+110 = 284
Sum of proper divisors of 284 = 1+2+4+71+142 = 220
Write a function to print pairs of amicable numbers in a range

12. 
Write a program which can filter odd numbers in a list by using filter function

In [ ]:
list = [1,2,3,4,5,6,7,8,9]

def myFunc(x):
  if x %2==0:
    return True
  else:
    return False

even = filter(myFunc, list)

for x in even:
  print(x)

2
4
6
8

13.
Write a program which can map() to make a list whose elements are cube of elements in
a given list

In [ ]:

numbers = [1, 2, 3, 4] 
result = map(lambda x: x*x*x, numbers) 
print(list(result))

TypeError: ignored

In [ ]:
for i in range(str(86)):
  print(int(i))

TypeError: ignored

In [ ]:
index1 = 1
index2 = 1000
lst = []

print("Finding Amicable numbers..")
d = {}
for index in range(index1, index2+1):
    s = sum(i for i in range(1, index) if index % i == 0)
    d[index] = s

amicables = [(n, d[n]) for n in d if d[n] in d and d[d[n]] == n and n != d[n] ] 
print(amicables)

In [ ]:
n1=int(input('enter lowest number'))
n2=int(input('enter highest number'))
d={}
s=0
for i in range(n1,n2+1):
  for j in range(1,i):
    if i%j==0:
      s=s+j
  pri
  d[i]=s
print(d)

enter lowest number10
enter highest number100
{10: 8, 11: 9, 12: 25, 13: 26, 14: 36, 15: 45, 16: 60, 17: 61, 18: 82, 19: 83, 20: 105, 21: 116, 22: 130, 23: 131, 24: 167, 25: 173, 26: 189, 27: 202, 28: 230, 29: 231, 30: 273, 31: 274, 32: 305, 33: 320, 34: 340, 35: 353, 36: 408, 37: 409, 38: 431, 39: 448, 40: 498, 41: 499, 42: 553, 43: 554, 44: 594, 45: 627, 46: 653, 47: 654, 48: 730, 49: 738, 50: 781, 51: 802, 52: 848, 53: 849, 54: 915, 55: 932, 56: 996, 57: 1019, 58: 1051, 59: 1052, 60: 1160, 61: 1161, 62: 1195, 63: 1236, 64: 1299, 65: 1318, 66: 1396, 67: 1397, 68: 1455, 69: 1482, 70: 1556, 71: 1557, 72: 1680, 73: 1681, 74: 1721, 75: 1770, 76: 1834, 77: 1853, 78: 1943, 79: 1944, 80: 2050, 81: 2090, 82: 2134, 83: 2135, 84: 2275, 85: 2298, 86: 2344, 87: 2377, 88: 2469, 89: 2470, 90: 2614, 91: 2635, 92: 2711, 93: 2746, 94: 2796, 95: 2821, 96: 2977, 97: 2978, 98: 3051, 99: 3108, 100: 3225}